<head>
    <link rel="stylesheet" href="css/buscador/estilos.css">
</head>
<header>
    <div class="buscador">
        <h2 class="h2">
            Descarga
        </h2>   
        <div>
            <input type="text" name="" id="" class="input" >
        </div>   
    </div>
    <nav class="nav">
        <ul class="ul">
            <li><a href="">windows</a> </li>
            <li><a href="">mac</a></li>
            <li><a href="">iOS</a></li>
            <li><a href="">android</a></li>
        </ul>
    </nav>
</header>