<head>
    <link rel="stylesheet" href="css/descarga/estilos.css">
</head>

<div class="separador">

</div>
<div class="padding">
    <div >
        <div class="presentacion">
            <div>
                <img src="/img/avast.png" alt="" class="img">
            </div>
            <div>
                <h2 class="titulo">Avast Free Antivirus</h2>
                <span>Avast Software</span>
                <span>Gratis</span>
                
            </div>
        </div>
        
        <div class="btn-descargar">
            <a href="/descargar/avast_free_antivirus_setup_online.exe">Descargar Ahora</a>
        </div>
    </div>
    
    <div class="detalles">
        <h2 class="detalles-titulo">Detalles de Avast Free Antivirus</h2>
        <ul>
            <li class="detalles-item">
                Proteja la privacidad en línea, proteja los dispositivos y vaya más allá de lo esencial con una protección de vanguardia y ligera en la nube
            </li>
            <li class="detalles-item">Última actualización el 11/12/20</li>
            <li class="detalles-item">Ha habido 7 actualizaciones en los últimos 6 meses</li>
            <li class="detalles-item">La versión actual tiene 1 bandera en VirusTotal </li>
            <li class="detalles-item">También disponible en Android , iOS y Mac</li>
        </ul>
    </div>
</div>
