<head>
    <link rel="stylesheet" href="css/descarga/estilos.css">
</head>

<div class="separador">

</div>
<div class="padding">
    <div >
        <div class="presentacion">
            <div>
                <img src="/img/panda.jpg" alt="" class="img">
            </div>
            <div>
                <h2 class="titulo">Panda Free Antivirus</h2>
                <span>Por  Panda Security</span>
                <span>Gratis</span>
                
            </div>
        </div>
        
        <div class="btn-descargar">
            <a href="/descargar/PANDAFREEAV.exe">Descargar Ahora</a>
        </div>
    </div>
    
    <div class="detalles">
        <h2 class="detalles-titulo">Detalles de Panda Free Antivirus</h2>
        <ul>
            <li class="detalles-item">
                Mantén tu PC libre de virus y malware
            </li>
            <li class="detalles-item">Última actualización el 25/06/20</li>
            <li class="detalles-item">Ha habido 1 actualización en los últimos 6 meses</li>
            <li class="detalles-item">La versión actual tiene 1 bandera en VirusTotal </li>
            <li class="detalles-item">También disponible en Android , iOS y Mac</li>
        </ul>
    </div>
</div>
