
<div class="section-seguridad">
    <div class="padding">
        <h2 class="section-seguridad_h2">software de seguridad</h2>
        <%- include('menu')%>
        <div class="flex">
            <div class="width-30">
                <a href="/malwarebyte" target="_blank">
                    <div class="article">
                        <div class="flex-elemento">
                            <div class="content-img">
                                <img src="/img/malwarebytes-logo.jpg" alt="">
                            </div>
                            
                            <h2 class="article-titulo">Malwarebyte</h2>
                        </div>
                        <p class="article-parrafo">
                            Es una pequeña aplicación portátil diseñada para eliminar 
                            el malware por completo
                        </p>
                    </div>
                </a> 
            </div>
            <div class="width-30">
                <a href="/avast" target="_blank">
                    <div class="article">
                        <div class="flex-elemento">
                            <div class="content-img">
                                <img src="/img/avast.png" alt="">
                            </div>
                            
                            <h2 class="article-titulo">Avast Free Antivirus</h2>
                        </div>
                        <p class="article-parrafo">
                            Una protección ligera e intuitiva impulsada por una comunidad de más de 435 millones de personas. Esto es ciberseguridad de próxima generación para todos.
                        </p>
                    </div>
                </a> 
            </div>
            <div class="width-30">
                <a href="/panda" target="_blank">
                    <div class="article">
                        <div class="flex-elemento">
                            <div class="content-img">
                                <img src="/img/panda.jpg" alt="">
                            </div>
                            
                            <h2 class="article-titulo">Panda Free Antivirus</h2>
                        </div>
                        <p class="article-parrafo">
                            100% ratio de detección de virus con mínimo impacto en tus dispositivos. Siempre estarás protegido 
                            y al día con actualizaciones en tiempo real y totalmente gratuitas.
                        </p>
                    </div>
                </a> 
            </div>
            <div class="width-30">
                <a href="/malwarebyte" target="_blank">
                    <div class="article">
                        <div class="flex-elemento">
                            <div class="content-img">
                                <img src="/img/malwarebytes-logo.jpg" alt="">
                            </div>
                            
                            <h2 class="article-titulo">Malwarebyte</h2>
                        </div>
                        <p class="article-parrafo">
                            Es una pequeña aplicación portátil diseñada para eliminar 
                            el malware por completo
                        </p>
                    </div>
                </a> 
            </div>
          
            <div class="width-30">
                <a href="/avast" target="_blank">
                    <div class="article">
                        <div class="flex-elemento">
                            <div class="content-img">
                                <img src="/img/avast.png" alt="">
                            </div>
                            
                            <h2 class="article-titulo">Avast Free Antivirus</h2>
                        </div>
                        <p class="article-parrafo">
                            Una protección ligera e intuitiva impulsada por una comunidad de más de 435 millones de personas. 
                            Esto es ciberseguridad de próxima generación para todos.
                        </p>
                    </div>
                </a> 
            </div>
          
            <div class="width-30">
                <a href="/panda" target="_blank">
                    <div class="article">
                        <div class="flex-elemento">
                            <div class="content-img">
                                <img src="/img/panda.jpg" alt="">
                            </div>
                            
                            <h2 class="article-titulo">Panda Free Antivirus</h2>
                        </div>
                        <p class="article-parrafo">
                            100% ratio de detección de virus con mínimo impacto en tus dispositivos. 
                            Siempre estarás protegido y al día con actualizaciones en tiempo real y totalmente gratuitas.
                        </p>
                    </div>
                </a> 
            </div>
        </div>
    </div>
   
    <div class="ver-todo">
        <a href="#">Ver todo</a>
    </div>

    <div class="separador">

    </div>
</div>